@import('font.css');
*{
	padding:0px;
	margin:0px;
}
#btn_default{
	background-color:cornflowerblue !important;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
.main_content{
	clear: both;
	margin-top:60px;
	margin-left: 40px;
}
/*view Content */

	.view{
		padding-top: 500px;
		padding-bottom: 300px;
		background-image: url('../img/op.jpg');
		background-repeat: no-repeat; background-size: cover;
		background-position: center;
		transition: 2s;
	}
.view:hover{
		padding-top: 500px;
		padding-bottom: 300px;
		background-image: url('../img/img/im.jpeg');
		background-repeat: no-repeat; background-size: cover;
		background-position: center;
	transition: 2s;
	}
.view .container .main_view{
	margin-top:-200px;
	text-transform: capitalize;
	text-align: center;
	
}
.view .container .main_view h1{
	color:#33b5e5;
	font-weight: 900;
	font-family: sans-serif;
}
.view .container .main_view p{
/*	color:#0288d1;*/
	color:#ff8a80;
	padding: 0px;
	margin: 0px;
/*	font-family: 500;*/
}
/*carousel design*/
.carousel .carousel-control-next-icon{
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-position:cover;
	color: red !important;
	font-size: 50px !important;
}
.carousel-control-next-icon{
	color: red !important;
	font-size: 200px !important;
	background: green;
	font-weight: bolder;
	padding: 20px;
} 
.carousel .carousel-control-prev-icon{
	background-color:transparent;
	background-repeat: no-repeat;
	color: red !important;
	font-size: 50px !important;
}
.carousel-control-prev-icon{
	color: red !important;
	font-size: 200px !important;
	background: green;
	font-weight: bolder;
	padding: 50px;
} 
.carousel-caption{
	margin-top: -800px;
}
.carousel-caption h1{
	color:mediumpurple;
	margin-top: -400px;
	font-weight:900;
	font-size: 50px;
	font-family: sans-serif;
}
/*end of carousel design*/
.card-size-sm{
	height: 400px;
	width:400px;
	
}
.card-size-sm #bdy{
padding: 12px !important;	
}

.card-body .frm{
	border:0px;
	border-bottom: 2px solid #000;
	border-radius: 0px;
}
.card-size-sm .card-body .myButton{
	margin-top:20px;
	margin-left: 30px;
}
.card-size-sm .card-body .deep_orange_design{
	height: 30px;
	width: 120px;
	text-align:center;
	padding-right: 10px;
	background-color: transparent !important;
	color: black;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}
.card-size-sm .card-body .deep_default_design{
height: 30px;
	width: 120px;
	text-align:center;
	padding-right: 10px;
	background-color: black !important;
	color: black;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
/*card-size-sm-2*/
.card-size-sm_2{
	margin-top: -2px;
	height: 400px;
	width: 400px;
	color:black;
}
.card-size-sm_2 .card-body #bdy{
	padding:13px;
}
.card-size-sm_2 .card-body .deep_orange_design{
		height: 30px;
	width: 120px;
	text-align:center;
	padding-right: 10px;
	background-color: transparent !important;
	color: black;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.card-size-sm_2 .card-body .deep_default_design{
height: 30px;
	width: 120px;
	text-align:center;
	padding-right: 10px;
	background-color: #000 !important;
	color: black;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.card-size-sm_2 .card-body .myButton{
	margin-top:50px;
	margin-left: 30px;
}
/*card 3*/
.card-size-sm_3{
	margin-top: -3px;
	height: 400px;
	width: 400px;
	color:black;
}
.card-size-sm_3 .card-body #bdy{
	padding:13px;
}
.card-size-sm_3 .card-body .deep_orange_design{
	height: 30px;
	width: 120px;
	text-align:center;
	padding-right: 10px;
	background-color: transparent !important;
	color: black;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.card-size-sm_3 .card-body .deep_default_design{
	height: 30px;
	width: 120px;
	text-align:center;
	padding-right: 10px;
	background-color:#000 !important;
	color: black;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.card-size-sm_3 .card-body #input_drp{
	margin-top: 50px !important;
}
.card-size-sm_3 .card-body .myButton{
	margin-top:60px;
	margin-left: 30px;
}
.contain_pop{
	padding-top: 50px;
	padding-bottom: 50px;
	width: 400px;
	
}
.contain_pop #btn-prim{
	border-radius: 0px;
	border:0px;
	margin-top: -58px;
	margin-left: 370px;
/*	height: 50px;*/
	padding-top:8px;
	padding-bottom:8px;
}
/*Footer design*/
.footer{
margin-top: 30px;
background-color: cadetblue;
	padding: 30px;
}
.footer .container p{
	text-align: center;
	color: #FFF;
	text-transform:capitalize;
}
.row .col-lg-4  p{
	text-align: left;
	color: white;
	font-size: 13px;
}
#icons{
	margin-top: -20px;
	padding: -5px;
}
#icons i{
	padding: 20px;
}
#icons i.fa-facebook{
	color: blue;
	font-size: 30px;
	
}
#icons i.fa-twitter{
	color:cyan;
	font-size: 30px;
	
}
#icons i.fa-skype{
	color: skyblue;
	font-size: 30px;
	
}
.row .col-lg-6 p a{
	color: #FFF;
	text-decoration:none;
	font-size: 14px;
	display: inline-block;
}
#p_lop{
	color: #000;
	margin-top: 40px;
	font-size: 15px;
}
@media(max-width:768px){
	.view .container .main_view h1{
		font-size: 17px;
	}
	.view .container .main_view p{
		margin-top: 20px;
		font-size: 13px;
		color: red;
	}
	.main_content{
	clear: both;
	margin-top:60px;
	margin-left: 22px;
}
.card-size-sm{
	height: 400px;
	width:340px;
	
}
	.card-size-sm_2{
	margin-top: 20px;
	height: 400px;
	width:340px;
	color:black;
}
	.card-size-sm_3{
	margin-top: 20px;
	height: 400px;
	width:340px;
	color:black;
}
.form-control{
	margin-top: 20px;
	margin-left: 10px;
	width: 220px;
	}
	.contain_pop #btn-prim{
		margin-left: 231px;
		background-color: red;
	}
}